server:
  port: 3100
spring:
  profiles:
    active: dev
  application:
    name: nightboot
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/nightboot
    username: root
    password: 123456
  mvc:
    hidden method:
      filter:
        enabled: true
    path match:
      matching-strategy: ant_path_matcher

token:
  header: Authorization
  secret: nightboot
  expireTime: 604800
  soloLogin: false

# 项目相关配置
nightboot:
  # 名称
  name: NightBoot
  # 版本
  version: 3.8.6
  # 版权年份
  copyrightYear: 2023
  # 实例演示开关
  demoEnabled: true
  # 文件路径 示例（ Windows配置D:/nightboot/uploadPath，Linux配置 /home/nightboot/uploadPath）
  profile: /home/nightboot/uploadPath
  # 获取ip地址开关
  addressEnabled: false
  # 验证码类型 math 数字计算 char 字符验证
  captchaType: math

mybatis-plus:
  global-config:
    db-config:
      id-type: input

  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl