<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nightboot.mapper.MenuMapper">

    <select id="findAll" resultType="com.nightboot.domain.res.menu.MenuListVo">
        select `id`,`parent_id`,`title`,`icon`,`path`,`menu_name`,`component`,`redirect`,`hide_children_in_menu`,
               `hide_menu`,`hide_breadcrumb`,current_active_menu,`status`,`remark`,`order_no`,`type`,`permission`,
               `keep_alive`,`hidden`,is_ext,`create_by`,`create_time`,`update_by`,`update_time`
        from `sys_menu`
        order by `order_no` desc
    </select>

</mapper>